/* HEADER */

.container {
  border: 1px solid #FFEBCD;
}

header {
  background-color: #FFEBCD;
  position: fixed;
}

header a {
  color: #000080;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

/* header i {
  color: #000080;
  font-family: 'Lobster', cursive;
  } */

.right-links {
  /* font-size: 1.5em; */
  margin: 10px;
  padding: 10px;
}

.right-links:hover {
  background-color: #000080;
  color: #ffff;
  border-radius: 15px;
  padding-top: 2%;
  transition: 0.5s ease-out;
}

.grouped-right-links {
  text-align: center;
  padding: 2%;
}

.grouped-left-links {
  font-size: 1.5em;
  text-align: center;
  padding: 2%;
}

.left-links:hover {
  color: #9fcd39;
  transition: 0.5s ease-out;
}

#spanish-button {
  padding-right: 10%;
}

/* SECTION */

section {
  padding-top: 20px;
}

.bg-color {
  background-color: #FFEBCD;
}

section h1 {
  color: #228B22;
  font-family: 'Oleo Script', cursive;
  font-size: 6em;
  text-align: center;
}

section h2 {
  color: #228B22;
  font-family: 'Bubblegum Sans', cursive;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

.big-name {
  margin-bottom: 3%;
  margin-top: 7%;
}

/* NAV */

nav {
  padding-top: 25px;
}

nav h1 {
  color: #000080;
  font-family: 'Lobster', cursive;
  font-size: 2.2em;
  text-decoration: underline;
}

nav p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
}

button {
  background-color: #FFEBCD;
  border: none;
  border-radius: 5px;
  color: #000080;
  cursor: pointer;
  font-family: 'Varela', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

button:hover {
  background-color: #000080;
  color: #ffff;
  transition: 0.5s ease-out;
}

/* MAIN */

main {
  padding: 20px;
}

main h3 {
  color: #228B22;
  font-size: 1.3em;
  font-family: 'Varela Round', sans-serif;
  margin-bottom: 1.8%;
  text-align: center;
}

main p {
  font-family: 'Montserrat', sans-serif;
}

main img {
  width: 100%;
}

main button {
  margin-top: 2%;
}

.card {
  border: 1px solid #FFEBCD;
  margin: 15px 0;
  text-align: justify;
}

.projects-buttons {
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #FFEBCD;
  margin-top: 3%;
  padding: 20px;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
}

footer a {
  color: #000;
  text-decoration: none;
}

footer a:hover {
  color: #000080;
  text-decoration: underline;
  transition: 0.5s ease-out;
}

/* MENU ANIMADO */

#animated-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFEBCD;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20%;
}

#animated-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /* font-family: 'Bungee', cursive; */
  /* font-size: 1em; */
  color: #000080;
  cursor: pointer;
  display: block;
  transition: 0.3s;
}

#animated-menu a:hover {
  color: #ffff;
  background-color: #000080;
  transition: 0.5s ease-out;
}

#animated-menu a i {
  margin-right:2%;
}

#animated-menu #close-menu {
  position: absolute;
  top: 0;
  right: 25px;
  font-family: 'Bungee', cursive;
  font-size: 2em;
  margin-left: 25%;
}

#animated-menu #close-menu:hover {
  background-color: transparent !important;
  color: #ffff;
}

.menu-pic {
  width: 100%;
}

.contact-me-unit {
  text-align: center;
}

.contact-me-p {
  font-size: 0.8em;
}

.pointer {
  color: #000080;
  cursor: pointer;
}

.pointer:hover {
  color: #9fcd39;
  transition: 0.5s ease-out;
}

[class*="icon-"] {
  font-size: 3em;
}