.bg-green {
  background-color: rgb(24, 99, 30);
}

.pointer {
  cursor: pointer;
}

.parallax { 
  /* The image used */
  background-image: url("../assets/images/5529.jpg");

  /* Set a specific height */
  height: 80vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body:not(h1) .parallax {
  /* filter: blur(2px); */
}

.parallax h1 {
  font-size: 4em;
  font-family: 'Oleo Script', cursive;
  letter-spacing: 0.05em;
}

/* @media (max-width: 768px) {
  .rigth-menu {
    display: none;
  }
} */